.cover__link {
  position: relative;
  min-height: 200px;
  width: 320px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-decoration: none;
  margin: 0 auto;
}
.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}
.cover__link:hover::after {
  opacity: 0.8;
  transition: 1s;
}
@media (min-width:768px) {
  .cover__link {
    width: 768px;
    min-height: 480px;
  }
}
@media (min-width:1024px) {
  .cover__link {
    width: 1024px;
    min-height: 640px;
  }
}
@media (min-width:1280px) {
  .cover__link {
    width: 1184px;
    min-height: 740px;
    margin: 0 auto;
  }
}