.place__title {
  max-width: 288px;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  margin: 0 16px;
}
@media (min-width:768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    grid-area: place__title;
  }
}
@media (min-width:1024px) {
  .place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }
}
@media (min-width:1280px) {
  .place__title {
    max-width: 460px;
  }
}