.photo-grid {
  padding-top: 64px;
  width: 288px;
  margin: 0 24px;
  position: relative;
  display: grid;
  grid-template-columns: 288px;
  grid-auto-flow: row;
  grid-auto-rows: 216px;
  grid-gap: 12px;
}
@media (min-width:768px) {
  .photo-grid {
    padding-top: 88px;
    grid-template-columns: 352px 352px;
    grid-auto-flow: row;
    grid-auto-rows: 264px;
    gap: 16px;
  }
}