.lead {
  padding-top: 48px;
  margin: 0 auto;
  width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  color: #FFFFFF
}
@media (min-width:768px) {
  .lead {
     min-width: 768px;
  }
}
@media (min-width:1024px) {
  .lead {
    width: 928px;
    margin: 0 auto;
  }
}
@media (min-width:1280px) {
  .lead {
    padding-top: 56px;
    width: 984px;
  }
}