.cover__subtitle {
  height: 48px;
  width: 288px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 16px auto 0;
}
@media (min-width:768px) {
  .cover__subtitle {
    height: 66px;
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width:1024px) {
  .cover__subtitle {
    
  }
}