.place__link {
  margin-top: 12px;
  height: 22px;
  width: 288px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}
.place__link:hover {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}