.place__paragraphs {
  display: grid;
  gap: 25px;
  width: 320px;
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 26.08px;
  grid-area: place__paragraphs;
}
@media (min-width:768px) {
  .place__paragraphs {
    margin: 0;
    width: 352px;
    gap: 25px;
  }
}
@media (min-width:1024px)  {
  .place__paragraphs {
    font-size: 18px;
    line-height: 29.34px;
    gap: 37px;
  }
}
@media (min-width:1280px) {
  .place__paragraphs {
    gap: 26px;
  }
}