.place__paragraphs {
  display: grid;
  gap: 25px;
  max-width: 320px;
  margin: 0 auto auto;
  font-size: 16px;
  line-height: 26.08px;
}
@media (min-width:768px) {
  .place__paragraphs {
    max-width: 352px;
    line-height: 26.08px;
    gap: 25px;
    grid-area: place__paragraphs;
  }
}
@media (min-width:1024px)  {
  .place__paragraphs {
    max-width: 456px;
    font-size: 18px;
    line-height: 29.34px;
    gap: 27px;
  }
}
@media (min-width:1280px) {
  .place__paragraphs {
    max-width: 484px;
    gap: 26px;
  }
}