.footer__links {
  padding: 0;
  list-style: none;
  display: grid;
  grid-row-gap: 32px;
  margin: 0;
}
@media (min-width:768px) {
  .footer__links {
  grid-template-columns: 50px 57px 94px 86px 106px;
  grid-column-gap: 16px;
  }
}