.place__paragraph {
  max-width: 288px;
  margin: 0 16px;
}
@media (min-width:768px) {
  .place__paragraph {
    max-width: 352px;
    margin: 0;
  }
}
@media (min-width:1024px)  {
  .place__paragraph {
    max-width: 456px;
  }
}
@media (min-width:1280px) {
  .place__paragraph {
    max-width: 484px;
    padding: 0;
  }
}