.footer__copyright {
  padding-top: 48px;
  height: 14px;
  width: 186px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 0;
}
@media (min-width:768px) {
  .footer__copyright {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-size: 14px;
    padding: 0;
  }
}