.intro__text {
  height: 520px;
  width: 288px;
  font-size: 16px;
  line-height: 26px;
  margin: 40px auto 0;
  font-weight: 400;
}
@media (min-width:768px) {
  .intro__text {
    width: 720px;
    height: 208px;
    font-size: 16px;
    line-height: 26.08px;
    margin: 40px 0 0;
  }
}