.intro {
  max-width: 288px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 64px;
  position: relative;
}
@media (min-width:768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    margin: 0 24px;
  }
}
@media (min-width:1024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    margin: 0 auto 0 48px;
  }
}
@media (min-width:1280px) {
  .intro {
    margin-left: 148px;
  }
}