.intro {
  width: 288px;
  height: 754px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  padding-top: 64px;
  position: relative;
}
@media (min-width:768px) {
  .intro {
    width: 720px;
    height: 429px;
    padding-top: 88px;
    margin: 0 24px;
  }
}