.cover__title {
  max-width: 240px;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  text-align: center;
  margin: 33px auto 0;
}
@media (min-width:768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin: 115px auto 20px;
  }
}
@media (min-width:1024px) {
  .cover__title {
    margin-top: 195px;
  }
}
@media (min-width:1280px) {
  .cover__title {
    margin-top: 245px;
  }
}