.footer {
  padding: 64px 118px 24px 16px;
  height: 310px;
  width: 186px;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width:768px) {
  .footer {
    width: 720px;
    height: 18px;
    flex-direction: row;
    padding: 88px 0 24px 0;
    margin: auto;
    justify-content: space-between;
  }
}
@media (min-width:1024px) {
  .footer {
    width: 928px;
    padding: 92px 0 24px 0;
  }
}
@media (min-width:1280px) {
  .footer {
    width: 1184px;
  }
}