.footer {
  font-family: 'Inter','Arial', sans-serif;
  padding: 64px 118px 24px 16px;
  height: 310px;
  width: 186px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}