.place__website {
  max-width: 288px;
  margin: 32px 16px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width:768px) {
  .place__website {
    align-self: flex-end;
    width: 342px;
    margin: 0;
    grid-area: place__website;
  }
}
@media (min-width:1024px) {
  .place__website {
    width: 456px;
  }
}
@media (min-width:1280px) {
  .place__website {
    width: 484px;
  }
}